<h2>This is the schedule using a panel</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>My Schedule</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group" ng-repeat="course in schedule">
            <li class="list-group-item">
                <h4>{{course.name}}</h4>
                <p>{{course.time}}</p>
                <p>{{course.location}}</p>
            </li>
        </ul>
    </div>
</div>

<h2>This is the schedule using the thumbnails</h2>
<h4>My Schedule</h4>
<div class="row" ng-repeat="course in schedule">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>{{course.name}}</h4>
                <p>{{course.time}}</p>
                <p>{{course.location}}</p>
            </div>
        </div>
    </div>
</div>

