<html>
<head>
    <title>Of Course</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/App/styles.css" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/Components/Modals/CourseModalComponent.js"></script>
    <script src="~/App/Components/Schedule/ScheduleController.js"></script>
    <script src="/App/Components/Calendar/CalendarController.js"></script>
    <script src="~/App/Components/Offerings/OfferingsController.js"></script>
    <script src="~/App/Components/Modals/CourseModalInstanceController.js"></script>
    <script src="~/App/Components/Modals/CourseModalController.js"></script>
    <script src="~/App/Components/Schedule/ScheduleDirective.js"></script>
    <script src="~/App/Components/Calendar/CalendarDirective.js"></script>
    <script src="~/App/Components/Offerings/OfferingsDirective.js"></script>

</head>
<body ng-app="ofCourse">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive" alt="Responsive image" src="~/App/Images/OfCourseLogo.PNG" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5" ng-controller="CalendarController">
            <my-Calendar times="times"></my-Calendar>
        </div>
        <div class="col-md-5 offerings modal-demo" ng-controller="CourseModalController as $ctrl">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer"></div>
            </script>
            <div ng-controller="OfferingsController">
                <div class="offerings-dropdown">

                    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            Dept <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li ng-repeat="dept in departments" role="menuitem"><a href="#">{{dept}}</a></li>
                        </ul>
                    </div>

                    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            Number <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                </div>

                <table class="table table-hover">
                    <tbody>
                        <tr class="table-hover" ng-click="$ctrl.openComponentModal()"><td>CSC 1350</td></tr>
                        <tr class="table-hover" ng-click="$ctrl.openComponentModal()"><td>CSC 1351</td></tr>
                        <tr class="table-hover" ng-click="$ctrl.openComponentModal()"><td>CSC 3102</td></tr>
                        <tr class="table-hover" ng-click="$ctrl.openComponentModal()"><td>CSC 3380</td></tr>
                        <tr class="table-hover" ng-click="$ctrl.openComponentModal()"><td>CSC 4330</td></tr>
                    </tbody>
                </table>

                <div class="registered">
                    <h3>Successfully Registered</h3>
                </div>
            </div>
        </div>   
    </div>

    <div class="row">
        <div class="col-md-4" ng-controller="ScheduleController">
            <my-Schedule schedule="schedule"></my-Schedule>
        </div>
    </div>
    
   
    
  
</div>

</body>
</html>
