<html>
<head>
    <title>Of Course</title>
    <script src="/Scripts/angular.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/Components/ScheduleCard/ScheduleCardController.js"></script>

</head>
<body ng-app="ofCourse">
    <div>This is the calendar component</div>
    <div ng-controller="ScheduleCardController">This is the schedule component</div>
    <div>This is the course offerings component</div>
</body>
</html>
