<!--
    This file contains the main components of the website, including:
    1. The weekly calendar
    2. The daily calendar
    3. The enrollment feature    
-->
<html>
<head>
    <title>Of Course - The Web Scheduling Application</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/App/styles.css" />
    <script type="text/javascript" src="http://yourjavascript.com/6321171442/courses.js"></script>﻿
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/Components/Schedule/ScheduleController.js"></script>
    <script src="/App/Components/Calendar/CalendarController.js"></script>
    <script src="~/App/Components/Offerings/OfferingsController.js"></script>
    <script src="~/App/Components/Modals/CourseModalController.js"></script>
    <script src="~/App/Components/Modals/ModalInstanceController.js"></script>
    <script src="~/App/Components/Schedule/ScheduleDirective.js"></script>
    <script src="~/App/Components/Calendar/CalendarDirective.js"></script>
    <script src="~/App/Components/Offerings/OfferingsDirective.js"></script>

</head>
<body ng-app="ofCourse"
       background-color: #0000ff;>

<!-- Sets the logo of the application -->   
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <img class="img-responsive" alt="Responsive image" src="~/App/Images/OfCourseLogo.PNG" />
        </div>
    </div>
<!-- Sets the weekly calendar -->
    <div class="row">
        <div class="col-md-5 col-md-offset-1" ng-controller="CalendarController">
        
            <my-Calendar times="times"></my-Calendar>
        </div>
<!-- Sets the course offerings of the application -->
        <div class="col-md-5 col-md-offset-1 offerings" ng-controller="OfferingsController">          
                <my-Offerings courses="courses"></my-Offerings>
        </div>   
    </div>
<!-- Sets the daily schedule -->
    <div class="row">
        <div class="col-md-11 col-md-offset-1" ng-controller="ScheduleController">
            <div style="margin-top:20px"></div>
            <div style="border-color: rebeccapurple"></div>
            <my-Schedule schedule="schedule"></my-Schedule>
        </div>
    </div>
    
   
    
  
</div>

</body>
</html>
