<html>
<head>
    <title>Of Course</title>
    <link rel="stylesheet" type="text/css" href="~/AngularApp/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="~/AngularApp/app.js"></script>
    <script src="~/AngularApp/Components/ScheduleCard/ScheduleCardController.js"></script>
    <script src="~/AngularApp/Components/ScheduleCard/ScheduleCardDirective.js"></script>
</head>
<body ng-app="ofCourse">
    <div>This is the calendar component</div>
    <div>This is the schedule component</div>
    <div>This is the course offerings component</div>
</body>
</html>
