<div class="mc">

   <table class="table">
       <tbody class="border">
           <tr>
               <td>
                       <p>{{course.department}} {{ course.number}}</p>
                       <p>{{course.name}}</p>    
               </td>
           </tr>
<tr> <td>{{course.description}} </td></tr>
           <tr> <td>{{course.professor}} </td></tr>
           <tr> <td>{{course.time}} </td></tr>
           <tr> <td>{{course.location}} </td></tr>
        </tbody>
   </table>
    <div class="enroll"><button class="btn btn-default">Enroll</button></div>
   

  

  
</div>