<!doctype html>
<html>
<head>
   
    <title>Timetable</title>
    <style type="text/css">
        body {
            font-family: arial;
            
        }
          .container {
    position:center
   
    }

        th, td {
            margin: 0;
            text-align: center;
            border-collapse: collapse;
            outline: 1px solid black;
        }

        td {
            background: white;
            padding: 5px 10px;
        }

        th {
            background:rebeccapurple;
            color: white;
            padding: 5px 10px;
        }
 
    </style>

</head>
<body>
    <table  align="center" class="table-hover">
        
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thrusday</th>
                <th>Friday</th>
               
            </tr>
        

        <tr>
            <th>8:00 - 9:30</th>

            <td class="cell">CSC 3380</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            
        </tr>
        
        <tr>
            <th>9:30 - 10:30</th>

            <td></td>
            <td class="cell">CSC 4330</td>
            <td></td>
            <td></td>
            <td></td>
       
            
        </tr>

        <tr>
            <th>10:30 - 11:30</th>

            <td></td>
            <td></td>
            <td class="cell">CSC 2260</td>
            <td></td>
            <td></td>


           
        
        </tr>

        <tr>
            <th>11:30 - 12:30</th>

            <td></td>
            <td></td>
            <td></td>
            <td class="cell">MATH 1550</td>
            <td></td>
          

          
        </tr>

        <tr>
            <th>12:30 - 01:30</th>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cell">SW 1100</td>
           
            
            
        </tr>
    </table>
    </body>
    </html>
