<div class="offerings-dropdown">
    
    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Dept <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li ng-repeat="dept in departments" role="menuitem"><a href="#">{{dept}}</a></li>
        </ul>
    </div>

    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Number <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li role="menuitem"><a href="#">Action</a></li>
            <li role="menuitem"><a href="#">Another action</a></li>
            <li role="menuitem"><a href="#">Something else here</a></li>
            <li role="menuitem"><a href="#">Separated link</a></li>
        </ul>
    </div>

</div>
 
<ul class="list-group">
    <li class="list-group-item">CSC 1352</li>
    <li class="list-group-item">CSC 1351</li>
    <li class="list-group-item">CSC 3102</li>
    <li class="list-group-item">CSC 3380</li>
    <li class="list-group-item">CSC 4330</li>
</ul>

<div class="registered">
    <h3>Successfully Registered</h3>
</div>