<div class="offerings-dropdown">
    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Dept <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li ng-repeat="course in courses" role="menuitem"><a href="#">{{course.department}}</a></li>
        </ul>
    </div>

    <div class="btn-group offerings-select" uib-dropdown dropdown-append-to-body>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Number <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li ng-repeat="course in courses" role="menuitem"><a href="#">{{course.number}}</a></li>
        </ul>
    </div>

</div>

<div ng-controller="CourseModalController as $ctrl">
    <table class="table table-hover">
        <tbody>
            <tr ng-click="$ctrl.viewCourse('sm', course)" ng-repeat="course in courses"><td>{{course.department}} {{course.number}} {{course.name}}</td></tr>
        </tbody>
    </table>
</div>   