.btn-group.offerings-select .btn.dropdown-toggle {
    color:white;
    background: #7114ab;
    border-color: black;

}

.panel > .panel-heading {
    background-image:none;
    background-color:  #7114ab;
    color: black;
    border-color: rebeccapurple;
   
   
}

.offerings {
    background: white;
    border-color: rebeccapurple;
    border-width: 1px;
    border-style: solid;
    padding-top: 1%;
    border-style: solid;
    border-width: 5px;
}

.offerings-dropdown {
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.registered {
    border-top: 1px solid black;
    
  
}

.offerings-course {
    color: black;
}

.offerings-list {
    text-align: center;
    
}

a:hover {
    color: #7114ab;
    border-style: solid;
    border-width: 5px;
}

body {
    background-image:url("Images/lsu.jpg");
    background-position:center;
    width:700px;
    height:700px;
    background-size:cover;
	z-index:1;

}



